@font-face {
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir.otf') format('otf');
}

body {
  margin: 0;
  font-family: 'Avenir', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f3ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
